{
	"endOfLine": "lf",
	"jsonRecursiveSort": false,
	"jsonSortOrder": "{\"*\": \"lexical\"}",
	"plugins": ["prettier-plugin-sort-json"],
	"printWidth": 80,
	"singleAttributePerLine": false,
	"singleQuote": true,
	"tabWidth": 2,
	"trailingComma": "all",
	"useTabs": true
}
