<head>
	<meta charset='UTF-8' />
	<meta name='viewport' content='width=device-width, initial-scale=1.0' />
	<script src='https://cdn.tailwindcss.com'></script>
</head>
<body>
	<div class='relative flex flex-col justify-center overflow-hidden bg-gray-50'>
		<div class='relative bg-white px-6 py-10 ring-1 ring-transparent'>
			<div class='mx-auto'>
				<div class='text-3xl font-semibold'>
					<p class='text-gray-900'>A signature request</p>
				</div>
				<div class='space-y-5 text-base leading-7 text-gray-600'>
					<h1 class='mb-5'>If you are looking for a signature, please copy it
						below to do your process.</h1>
					<div class='w-full'>
						<p
							class='w-full rounded-md border border-slate-200 bg-slate-200 px-3 py-2 text-sm text-slate-700 shadow-sm placeholder:text-slate-400 hover:border-slate-300 focus:border-slate-400 focus:shadow focus:outline-none break-words'
						> {{signature}}</p>
					</div>
					<p>For further assistance, please don't mind to contact our delightful
						support.</p>
				</div>
			</div>
		</div>
	</div>
</body>
